

<form [formGroup]="userForm" novalidate>

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" #name>
      <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched"> *Name is required</div>
      <!-- {{name.className}} -->
     </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" placeholder="Enter email"  formControlName="email" #email>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>


      <div class="form-group">
        <label>Phone </label>
        <input type="text" class="form-control" placeholder="Enter Phone Number" formControlName="phone" #phone>
      </div>

      <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" placeholder="Enter Address" formControlName="address" #address>
      </div>

      <div class="form-group">
          <label>Image Url</label>
          <input type="text" class="form-control" placeholder="Enter Image Url" formControlName="image" #image>
      </div>
      <button (click)="createuser(name.value, email.value, phone.value, address.value, image.value)"  type="submit" class="btn btn-primary">Submit</button>
</form>
